.reviews {
  background-color: #1f1c1d;
}

.reviews__wrapper {
  padding: 0px 15px 58px;

  @media (min-width: $tablet-width) {
    padding: 65px 15px 80px;
  }


  @media (min-width: $desktop-width) {
    width: 1070px;
    margin: 0 auto;
    padding-top: 100px;
    padding-bottom: 105px;
  }
}

.reviews h2 {
  margin-top: 0;
  margin-bottom: 138px;
  text-align: center;
  font-size: 28px;

  @media (min-width: $tablet-width) {
    margin-bottom: 140px;
    font-size: 36px;
  }

  @media (min-width: $desktop-width) {
    margin-bottom: 55px;
  }
}

.reviews__item {
  box-sizing: border-box;
  position: relative;
  padding-top: 90px;
  padding-bottom: 40px;
  text-align: center;
  background-color: #181617;

  @media (min-width: $tablet-width) {
    width: 578px;
    margin: 0 auto;
    padding-top: 125px;
  }

  @media (min-width: $desktop-width) {
    width: 640px;
    min-height: 408px;
    margin: 0;
    margin-left: auto;
    padding: 80px 60px 105px 145px;
    text-align: left;
  }
}

.reviews__slider {
  position: absolute;
  top: 0;
  left: 50%;
  transform: translate(-50%, -50%);

  @media (min-width: $desktop-width) {
    top: 50%;
    left: -22%;
  }
}

.reviews__item h3 {
  font-size: 18px;
  font-weight: 500;
  color: white;

  @media (min-width: $tablet-width) {
    margin-bottom: 14px;
    font-size: 24px;
  }
}

.reviews__item p {
  margin-bottom: 20px;
  padding-left: 30px;
  padding-right: 30px;
  font-weight: 300;
  color: rgba(255, 255, 255, 0.72);

  @media (min-width: $tablet-width) {
    width: 60%;
    margin: 0 auto;
    margin-bottom: 30px;
    line-height: 21px;
  }

   @media (min-width: $desktop-width) {
     width: auto;
     padding-left: 0;
     margin-bottom: 35px;
     line-height: 23px;
   }
}

.reviews__item-footer {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 175px;
  margin: 0 auto;
  color: $color-primary;

  @media (min-width: $desktop-width) {
    margin: 0;
    margin-right: auto;
  }
}

.reviews__item-footer time { font-size: 12px; }

.reviews__social { @include social; }

.reviews__social svg { fill: $color-primary;}

.reviews__social li {
  padding: 5px;
  border: 1px solid $color-primary;
}

.reviews__social li:not(:last-child) { margin-right: 10px; }
