.reviews-slider {
  box-sizing: border-box;
  display: flex;
  justify-content: space-between;
  width: 100%;

  @media (min-width: $tablet-width) { width: 460px; }
  @media (min-width: $desktop-width) { width: auto; }
}

.reviews-slider__picture {
  vertical-align: bottom;

  @media (min-width: $tablet-width) {
    width: 302px;
    height: 208px;
  }

  @media (min-width: $desktop-width) {
    width: 481px;
    height: 332px;
  }
}

.reviews-slider button {
  padding: 0;
  border: none;
  background-color: transparent;
  color: $color-primary;
  cursor: pointer;

  @media (min-width: $desktop-width) {
    display: none;
  }
}

.reviews-slider__arrow {
  @media (min-width: $tablet-width) {
    width: 15px;
    height: 30px;
  }
}
