.faq {
  background-color: #1f1c1d;
}

.faq__wrapper {
  padding: 60px 15px 20px;

  @media (min-width: $tablet-width) {
    padding: 135px 55px 20px;
  }

  @media (min-width: $desktop-width) {
    width: 940px;
    margin: 0 auto;
    padding-top: 75px;
    padding-left: 0;
    padding-right: 0;
  }
}

.faq h2 {
  margin-top: 0;
  margin-bottom: 22px;
  text-align: center;
  font-size: 28px;
  line-height: 32px;

  @media (min-width: $tablet-width) {
    font-size: 36px;
    line-height: 42px;
  }
}

.faq__description {
  margin-bottom: 38px;
  padding-left: 40px;
  padding-right: 40px;
  text-align: center;
  font-weight: 300;
  color: $color-primary;

  @media (min-width: $tablet-width) {
    margin-bottom: 50px;
    font-size: 16px;
    line-height: 23px;
  }
}

.faq__list {
  @include list-style;

  font-weight: 300;
  text-align: left;
  color: #ddd0c3;
}

.faq__item {
  position: relative;

  @media (min-width: $tablet-width) {
    padding-left: 102px;
  }

  @media (min-width: $desktop-width) {
    padding-left: 142px;
  }
}

.faq__content {
  margin-bottom: 30px;
  border: 1px solid #544332;
}

.faq__question {
  display: flex;

  .faq__list-item-button {
    border-left: 1px solid #544332;
  }

  .faq__question-minus {
      display: none;
    }

  .faq__question-plus {
    display: block;
  }

  &--active {
    .faq__list-item-button {
      border-left: none;
      background-color: #a07b50;
    }

    .faq__question-minus {
      display: block;
    }

    .faq__question-plus {
      display: none;
    }
  }
}

.faq__title {
  flex-grow: 1;
  margin: 0;
  padding: 10px 5px 10px 15px;
  font-weight: 500;
  color: white;

  @media (min-width: $tablet-width) {
    padding: 20px 28px;
    font-size: 16px;
    line-height: 19px;
  }

  @media (min-width: $desktop-width) {
    padding: 40px;
  }
}

.faq__answer {
  display: block;
  margin: 0;
  padding: 12px 15px;
  border-top: 1px solid #544332;
  font-weight: 300;
  color: #ddd0c3;

  @media (min-width: $tablet-width) {
    padding: 20px 28px;
    font-size: 16px;
    line-height: 25px;
  }

  @media (min-width: $desktop-width) {
    padding: 40px;
  }
}

.faq__answer p {
  margin-top: 0;

  @media (min-width: $tablet-width) {
    width: 77%;
    margin-bottom: 24px;
  }
}

.faq__answer p:last-child {
  margin-bottom: 0;
}

.faq__list-item-button {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-shrink: 0;
  width: 43px;
  cursor: pointer;

  @media (min-width: $tablet-width) {
    width: 73px;
  }

  @media (min-width: $desktop-width) {
    width: 104px;
  }
}

.faq__count {
  display: none;

  @media (min-width: $tablet-width) {
    display: block;
    position: absolute;
    top: 0;
    left: 22px;
    font-size: 50px;
    font-weight: 700;
    color: #a07b50;
  }

  @media (min-width: $desktop-width) {
    font-size: 70px;
    font-weight: 700;
  }
}
