.benefits {
  background-color: #181617;

  @media (min-width: $tablet-width) {
    position: relative;
    margin-bottom: -1px;
    z-index: 1;
  }

  @media (min-width: $desktop-width) {
    margin-bottom: -2px;
  }
}

.benefits__wrapper {
  box-sizing: border-box;
  padding: 55px 15px 30px;

  @media (min-width: $tablet-width) {
    padding: 85px 15px 60px;
  }

  @media (min-width: $desktop-width) {
    width: $desktop-width;
    margin: 0 auto;
    padding: 85px 100px 45px;
  }
}

.benefits h2 {
  margin-top: 0;
  padding-left: 30px;
  padding-right: 30px;
  text-align: center;
  font-size: 28px;
  line-height: 32px;

  @media (min-width: $tablet-width) {
    margin-bottom: 22px;
    font-size: 36px;
    line-height: 42px;
  }
}

.benefits__description {
  margin-bottom: 35px;
  text-align: center;
  color: $color-primary;

  @media (min-width: $tablet-width) {
    margin-bottom: 55px;
    font-size: 16px;
    line-height: 23px;
  }

  @media (min-width: $desktop-width) {
    margin-bottom: 50px;
  }
}

.benefits__list {
  @include list-style;
  color: white;

  @media (min-width: $tablet-width) {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  @media (min-width: $desktop-width) {
    flex-direction: row;
    justify-content: space-between;
  }
}

.benefits__item {
  box-sizing: border-box;
  margin-bottom: 30px;
  padding: 15px;
  text-align: center;
  background-color: #1f1c1d;

  @media (min-width: $tablet-width) {
    margin-bottom: 45px;
    width: 360px;
    height: 307px;
  }
}

.benefits__content {
  padding: 40px 30px;

  @media (min-width: $tablet-width) {
    padding: 55px 40px 24px;
  }
}

.benefits__content p {
  margin-bottom: 0;

  @media (min-width: $tablet-width) {
    font-size: 16px;
    line-height: 26px;
  }
}

.benefits__image {
  fill:  #a07b50;

  @media (min-width: $tablet-width) {
    margin-bottom: 10px;

    &--free-veterinary-care {
      width: 98px;
      height: 110px;
    }

    &--advice-around-clock {
      width: 107px;
      height: 97px;
    }

    &--individual-approach {
      width: 70px;
      height: 110px;
    }
  }
}

.benefits__content:hover { background-color: $color-primary; }

.benefits__content:hover svg { fill: white; }
